body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(198, 121, 28);
}

html {
 font-family: sans-serif;
}

section {
  background-color: rgb(18, 91, 137);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 400px;
  background-color: rgb(25, 113, 135);
  border-radius: 8px;
  overflow: hidden;
  border: 5px solid red;
  display: block;

}


.calculator-text{
  background-color: rgb(166, 26, 26);
  text-decoration-color: rgb(224, 239, 239);
  width:85%;
  position: relative;
  left:24px;
  text-align: center;
  height: 30px;
}
.calculator{
  background-color: blueviolet;
  width: 85%;
  position: relative;
  left:24px;
}
.display {
  background-color: rgb(182, 182, 182);
  height: 100px;
  width: 100%;
  text-align: right;
  padding: 20px;
  font-size: 30px;
  position: relative;
  

}

.display-1 {
  opacity: 0.4;
  font-size: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
  right: 30px;
  background-color:rgb(182, 182, 182);}

.display-2{
  background-color:rgb(182, 182, 182);
  position: relative;
  right:21px;
}



.temp-result {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 20px;
  /* opacity: 0.3; */
  background-color: rgb(81, 118, 99);
}

.all_button {
  color: whitesmoke;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  row-gap: 1px;
  column-gap: 1px;
  border-top: 5px solid rgb(65, 47, 47);
}

.button {
  border: 0.5px solid rgba(92, 92, 92, 0.137);
  display: inline-block;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
}


.button:hover {
  background-color: rgb(49, 154, 178);
}


.btn-0 {
  grid-column: 1/3;
}